*{
    font-family: Arial, Helvetica, sans-serif;
}

.topBar{
    background-color:rgb(48, 48, 48);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    position:relative;
    left: 9.66%;
    width: 80.68%;
    padding: 10px 0px;
    
}

.pageStructure{
    width: 80%;
    left: 10%;
    display: flex;
    position: absolute;
}

.profileCard{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    top: 80px;
    width: 250px;
    height: 250px;
    padding: 30px 0px 20px 0px;
    margin-right: 40px;
    margin-left: 20px;
}

.profilePic{
    border-radius: 50%;
}

.yourFeed{
    width: 74%;
}

.postCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(231, 231, 231);
    margin-bottom: 20px;
}

.postInfo{
    display: flex;
    justify-content: space-between;
}

.likeInfo{
    display: flex;
    align-items:center;
}

.likeCount{
    margin-right: 3px;
}

.likeButton{
    border: none;
    margin-left: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size: larger;
    background-color: #e9d900;
}